* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    grid-template: 100px/10% 50%;
}

header div {
    grid-column: 1/1;
}

nav {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    justify-content: space-between;
    letter-spacing: 2px;
    font-weight: 500;
}

.nav-item {
    display: flex;
    justify-content: center;
}

#img-logo {
    height: 100px;
    padding-left: 40px;
}

#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

a:active,
a:focus,
a:link,
a:visited {
    color: #FF5C5C;
    ;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}